/* base */
.center-xy { margin: auto;}

/* leaflet overrides */

.leaflet-areaselect-handle { display: none; }
.leaflet-areaselect-shade { background: rgba(0,0,0, 0.8);}

/* state management */

.show-image {
  -webkit-transform:translateY(-100%);
     -moz-transform:translateY(-100%);
      -ms-transform:translateY(-100%);
          transform:translateY(-100%);
}

#show-image:target ~ .show-image,
#show-map:target ~ .show-map {
  -webkit-transform:translateY(0%);
     -moz-transform:translateY(0%);
      -ms-transform:translateY(0%);
          transform:translateY(0%);
}

#show-image:target ~ .show-map {
  -webkit-transform:translateY(100%);
     -moz-transform:translateY(100%);
      -ms-transform:translateY(100%);
          transform:translateY(100%);
}

/* pages */

.top-button { top: 40px; margin: auto; }
.bottom-button { bottom: 40px; margin: auto; }

.map-image {
  height: 600px;
  width: 480px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 0 10px #aaa,
              0 0 60px 10px rgba(0,0,0,.1);
}

.map-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,.2);
  pointer-events: none;
}